{% extends 'app/user/user_home.html' %}
{% load widget_tweaks %}
{% block body%}
<br><br>
    <section class="main-content" id="content">
        <div class="container container-fluid">
            <div class="row">
                <div class="col-sm-4 col-lg-4 col-md-4 col-space">
                    <div class="thumbnail">

                        <div class="caption text-center">
                            <h2><a href="{% url 'app:view_shared_ride' ride.id%}" >{{ ride.start }} to {{ ride.dest }}</a></h2>
                            <h4>  <a href="#"><i class="fa fa-cab"></i> Ride : {{ ride.vehicle }}</a></h4>
                            <!-- <h4>  <a href="{{ ride.vehicle.get_absolute_url }}"><i class="fa fa-cab"></i> Ride : {{ ride.vehicle }}</a></h4> -->
                            <span> <i class="fa fa-user"></i> Seating : {{ ride.no_pass }} seats</span>
                            <span><p> <i class="fa fa-calendar"></i> Start time:
                                {{ ride.date }} at <i class="fa fa-clock-o"></i> {{ ride.start_time }}</p>
                            </span>
                            <span> <p> <i class="fa fa-calendar"></i> Estimated arrival time:
                                {{ ride.date }} at <i class="fa fa-clock-o"></i> {{ ride.arrival_time }}</p>
                            </span>

                            <span> <p> <i class="fa fa-male"></i><i class="fa fa-female"></i> Gender Preference:
                                    {{ ride.sex }}</p>
                            </span>

                                <span> <p> <i class="fa fa-money"></i> Cost:
                                    {{ ride.cost }} fcfa/km</p>
                            </span>

                            <h4>  <a href="{{ ride.user.get_absolute_url }}"><i class="glyphicon glyphicon-user"></i> Driver : {{ ride.user.full_name }}</a></h4>

                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-lg-8 col-md-8 col-space">
                    <div class="thumbnail">
<style>
input[type=text] {
width: 60%;
padding: 8px;
border: 3px solid #2296f3;
border-radius: 14px;
}
.clabel {
padding: 2px 21px 0px 0;
display: inline-block;
font-size: large;
}
.questionheader{
padding: 2px 21px 0px 0;
margin-left: 23px;
font-size: 25px;
}
.feedtitle{
    font-size: 45px;
    text-align: center;
}
.card {
display: flow-root;
grid-template-rows: max-content 150px 1fr;
border-radius: 15px;
background-color: #2296f3;
margin: 0px 15px 0px 15px;
padding: 0px 5px 15px 0px;
}
.button {
  background-color: #2296f3; /* Green */
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  border-radius: 8px;
  display: inline-block;
  font-size: 12px;
  margin: 4px 300px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}
ul#question1 li {
margin: 0 50px 0 100px;
display:inline-block;
font-size: 28px;
}
ul#question li {
margin: 0 50px 0 50px;
display:inline-block;
font-size: 28px;
}
ul#question2 li {
margin: 0 20px 0 40px;
display:inline-block;
}
ul#question3 li {
margin: 0 10px 0 10px;
display:inline-block;
font-size: 24px;
}
ul#question4 li {
margin: 0 5px 0 7px;
display:inline-block;
font-size: 22px;
}
ul{
    padding: 0px;
}
li{
    list-style: none;
}
.room{
font-size: 3rem;
cursor: pointer;
transition: 0.3s;
}

input[type=radio]:checked{
display: none;
}

</style>
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
                        <h2 class="feedtitle">Passenger Feedback</h2><br>
                        <form method="post">
                            {% csrf_token %}
                            
                            <div>
                                <label class="questionheader">{{ form.driver_name.label_tag }}</label>
                                {{ form.driver_name }}
                            </div> <br>

                            <div class="card">
                                <h3 class="questionheader">Did the driver respect time of meet up?</h3>
                            <ul id="question1">
                                <li>
                                    <div>
                                        {{ form.question1 }}
                                    </div>
                                </li>
                            </ul>
                            </div> <br>

                            <div class="card">
                            <h3 class="questionheader">Did the driver respect the road safty rules?</h3>
                            <ul id="question">
                                <li>
                                    <div>
                                        {{ form.question2 }}
                                    </div>
                                </li>
                            </ul>
                            </div> <br>

                            <div class="card">
                            <h3 class="questionheader">Rate the condition of the car?</h3>
                            <ul id="question2">
                                <li>
                                    <div class="room">
                                        {{ form.question3 }}
                                    </div>
                                </li>
                            </ul>
                            </div> <br>

                            <div class="card">
                            <h3 class="questionheader">The driver is friendly?</h3>
                            <ul id="question4">
                                <li>
                                    <div>
                                        {{ form.question4 }}
                                    </div>
                                </li>
                            </ul>
                            </div> <br>

                            <div class="card">
                            <h3 class="questionheader">How likely are you to recommend the driver to a friend?</h3>
                            <ul id="question3">
                                <li>
                                    <div>
                                        {{ form.question5 }}
                                    </div>
                                </li>
                            </ul>
                            </div> <br>

                            <div class="card">
                            <h3 class="questionheader">Overall, how would you rate your journey with the driver?</h3>                          
                            <ul id="question2">
                                <li>
                                    <div class="room">
                                        {{ form.question6 }}
                                    </div>
                                </li>
                            </ul>
                            </div> <br>
                            <button type="submit" id="submitbutton" class="button button2">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock %}